@font-face { font-family: 'Helvetica Neue'; src: url('../Fonts/HelveticaNeue.dfont');}
@font-face { font-family: 'Bebas Neue'; src: url('../Fonts/BebasNeue.otf');}

.round{
	position: absolute;
	height: 188px;
	width: 188px;
	background-color: rgba(0,0,0);
	font-family: Helvetica;
	border-radius: 1%;
	text-align: center;
	border-radius: 50%;
    font-family: Helvetica Neue;
    color: rgba(255,255,255,.5);
    font-weight: 800;
    font-size: 30px;
    z-index: -1;
}

.text{
    position: relative;
    top: 40%;
    margin-bottom: 3em;
}

#lens{
	background-color:rgba(0,0,0,0);
}

.color-pick{
    position: relative;
    left: 50%;
    margin-left: -50px;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
    display: block;
    text-align: left;
}

#button-con{
    width: 100%;
}

#mess{
    position: absolute;
    top: 30%;
    padding: 10%;
    height:20%;
    left: 0%;
    width: 80%;
    color: white;
    font-size: 50px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
    display: block;
    text-align: center;
      color: white;
      text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
